.navbar {
  padding: 0px; /* Añadir padding de 35 píxeles a cada lado */
}

.navbar-brand.text-red {
  color: red;
  font-weight: bold;
  font-size: 1.5rem;
  padding-left: 125px; 

}


.navbar-brand.text-red:hover {
  color: darkred;
}

.navbar .form-control {
  width: 500px; /* Aumentar la anchura en 25 píxeles */
}

.navbar .badge {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  background-color: red;
  color: white;
  border-radius: 50%;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.nav.justify-content-start .nav-item .nav-link {
  background-color: transparent;
  margin-right: 10px; /* Espacio entre categorías */
  border: none;
  padding: 5px 10px;
}

.nav.justify-content-start .nav-item .nav-link:hover {
  background-color: #ced4da; /* Color gris más oscuro al pasar el mouse */
}

.dropdown-menu {
  position: absolute;
  will-change: transform;
  top: 100%;
  left: 0;
  transform: translate3d(0, 0, 0);
  display: none; /* Ocultar por defecto */
}

.dropdown-menu.show {
  display: block; /* Mostrar cuando se selecciona */
}

